<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Yuki Website</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<h1><%= @number %></h1>
<form action="/plus" method="post" class="pull-left">
    <input type="submit" value="+" class="btn btn-primary">
</form>
<form action="/minus" method="post" class="pull-left">
    <input type="submit" value="-" class="btn btn-danger">
</form>
<form action="/clear" method="post" class="pull-left">
    <input type="submit" value="clear" class="btn btn-warning">
</form>
</body>
</html>
