<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Yuki Website</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<h1>Yuki no website</h1>
<h2>type /count at the end of the url</h2>
<p>u will find a counter that is totalt useless but took a hole day to make</p>
<a href="https://yukinowebsite.herokuapp.com/count">Counter</a>
</body>
</html>

