<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Yuki Website</title>
  <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="/css/style1.css" type="text/css" media="screen">
</head>
<body>
<ul>
  <li><a href="http://yukinowebsite.herokuapp.com/count">Counter</a></li>
  <li><a href="https://evening-sea-7325.herokuapp.com/">Bookmark App</a></li>
    <li><a href=https://www.google.co.jp/?gfe_rd=cr&ei=y20SVZz7MMS2mQGtioAY>Google</a></li>
</ul>

<h1>Yuki no website</h1>
<h2>type /count at the end of the url</h2>
<p>u will find a counter that is totalt useless but took a hole day to make</p>

<!--<a href="https://yukinowebsite.herokuapp.com/count">Counter</a>
<a href="https://evening-sea-7325.herokuapp.com/">Bookmark App</a>-->


<!--<button type="button" onclick="location.href='http://yukinowebsite.herokuapp.com/count'">Counter</button>
<button type="button" onclick="location.href='https://evening-sea-7325.herokuapp.com/'">Bookmark App</button>-->

</body>
</html>

